.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 20px;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}


.footer-links h2 {
    margin-bottom: 20px;
}


.footer-links a {
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px
}

.footer-links a:hover {
    color: #3d61ff
}

.footer-links h2 a {
    color: #113DFF !important;
    font-size: 20px 
}

.footer-logo {
    border-top: 2px inset gray;
}

.footer-logo h3 {
    margin: 30px 0;
    /* font-weight: 400; */
    color: #113DFF;
    font-size: 14px
}

.f-get-app {
    width: 120px;
    cursor: pointer;
}


.f-logo {
    padding-right: 5px;
    font-size: 17px;
}